#header {
    grid-area: header;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 15px 20px;

    /* background */
    background-color: rgb(37, 27, 24);
    background-image: url('assets/awning.png');
    background-size: 60%;
    background-position: bottom;

    /* overhang */
    position: relative;
    z-index: 30;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

#store-name {
    height: 70%;
    width: 300px;
    padding: 5px;
}

#sidebar {
    grid-area: sidebar;
    /* border-left: 3px solid #333; */
    padding: 10px;
    overflow-y: auto;


    /* background */
    background-image: url('assets/deli-wall.png');
    background-size: 250%;
    background-repeat: repeat; /* Tiles the pattern */

    /* for centering corkboard */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* gap between sign and corkboard */
}

#order-sign {
    width: 150px;
    height: 10%;
}

#order-box {
    width: 90%;
    min-height: 200px;
    flex: 1;
    margin-bottom: 10px;
    background-image: url('assets/corkboard.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    box-shadow: inset 0 0 20px rgba(0,0,0,0.2); /* Inner shadow makes cork look recessed */
    filter: drop-shadow(5px 5px 15px rgba(0,0,0,0.5));
}

#sandwich-window {
    /* This element takes up the main area in the second row */
    grid-area: main;

    /* background */
    background-image: url('assets/backdrop1.png');
    background-size: cover;
    background-position: center bottom;

    /* window frame border */
    border-image-source: url('assets/window-frame-border.png');
    box-shadow: inset 0 0 20px rgba(0,0,0,0.5); /* Inner shadow for depth */
    border-image-slice: 20 20 20 20;
    border-image-width: 12px;
}

#footer {
    grid-area: bottom;
    /* Use Flexbox to lay out the menu and ingredients sections horizontally */
    display: flex; 

    /* background */
    background-image: url('assets/benchtop.png');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;

    /* depth */
    position: relative;
    z-index: 20; /* Sits in front of the window/wall */
    
    /* 1. The Highlight: A light line on top makes it look like a 3D edge */
    border-top: 4px solid #c28e60; /* Pick a light wood color from your texture */
    
    /* 2. The Shadow: Casts a shadow UP slightly to imply thickness */
    /* box-shadow: inset 0px -5px 15px rgba(0, 0, 0, 0.3); */
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.6);
}


/* General container styling */
/*
#orders, #menu, #ingredients, #stock {
    border: 1px dashed #777;
    margin-bottom: 10px;
    padding: 5px;
}
*/